.description-list--description {
  margin-left: 0;
  font-size: 0.9em;
  color: grey;
}

.skill-list {
  padding-left: 0;
  list-style-type: none;
}

.skill-list__sub-list {
  padding-left: 1vw;
  list-style-type: none;
}

.skill-list__title {
  font-size: 1em;
}

